/* Mobile Responsiveness */
@media (min-width: 576px) {

    .container,
    .container-sm {
        min-width: 540px;
    }

    .section-fluid-270 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .hero-sin-slider .content-box .title {
        font-size: 48px;
    }

    .hero-sin-slider .image {
        height: 350px;
    }

    .btn-lg {
        padding: 12px 40px;
    }

    .ship-single {
        flex-direction: row;
    }

    .ship-single .content {
        text-align: left;
        width: calc(100% - 115px);
        margin-left: 25px;
    }

    .ship-single .content .title {
        font-size: 24px;
    }

    .top-slider-buttons {
        margin-top: 0;
        margin-bottom: 0;
    }
    .section-content .section-title {
        font-size: 35px;
    }
    .product-single-item-style-1 .content {
        padding: 20px 38px 35px;
    }
    .product-single-item-style-1 .content .bottom .product-event-items .btn {
        margin-right: 20px;
    }
    .newsletter-area .newsletter-form button {
        padding: 6px 30px;
    }
    .newsletter-area .newsletter-form input {
        padding: 10px 160px 10px 25px;
    }
    .newsletter-area .content .apps-btn a {
        margin-right: 16px;
        margin-bottom: 0;
    }
    .newsletter-area .content {
        max-width: 490px;
    }
    .newsletter-area {
        padding: 40px 40px;
    }
    .footer-top {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer-contact-items {
        text-align: left;
        flex-direction: row;
    }
    .footer-contact-items a {
        margin-right: 15px;
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {

    .container,
    .container-sm,
    .container-md {
        min-width: 720px;
    }

    .section-fluid-270 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .hero-sin-slider .content-box .title {
        font-size: 46px;
    }

    .hero-sin-slider .content-box .btn {
        margin-top: 45px;
    }

    .hero-sin-slider .image {
        height: 358px;
    }

    .btn-lg {
        padding: 15px 45px;
    }

    .section-top-gap-100 {
        margin-top: 80px;
    }

    .banner-card-single-item .content {
        top: 40px;
        left: 32px;
        transform: translateY(0);
    }

    .company-slider-bg {
        padding: 60px 0;
    }

    .product-tab .nav-link {
        padding: 10px 20px;
    }
    .product-single-item-style-1 .content {
        padding: 10px 20px 20px;
    }
    .product-single-item-style-1 .content .bottom .product-event-items .btn {
        margin-right: 10px;
    }
    .newsletter-area {
        padding: 60px 60px;
    }
    .section-top-gap-120 {
        margin-top: 80px;
    }
    .footer-contact-items {
        margin-right: 50px;
    }
    .footer-contact-items a {
        margin-right: 55px;
        margin-bottom: 0;
        font-size: 18px;
    }
    .footer-center {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    .footer-widgets-items {
        justify-items: flex-start;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 35px;
    }
    .footer-widgets-single-items .title {
        display: block;
    }
    .footer-widgets-single-items .collapsed-title {
        display: none;
    }
    .footer-widgets-single-items .widget-collapse-body {
        display: block;
        padding: 0;
        border-radius: 0;
        background: none;
    }
    .footer-widgets-single-items .footer-nav {
        padding: 0;
    } 
    .footer-bottom {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-bottom .copyright-text {
        margin-bottom: 0;
    }
    .footer-bottom .copyright-text::after {
        display: block;
    }
    .footer-bottom .payment-logo {
        width: auto;
        text-align: right;
    }
}

@media (min-width: 992px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg {
        min-width: 960px;
    }

    .hero-bg {
        height: 836px;
    }

    .hero-sin-slider .content-box {
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .hero-sin-slider .content-box .title {
        font-size: 56px;
    }

    .hero-sin-slider .image {
        height: auto;
        right: 20px;
    }

    .hero-sin-slider .image-shape {
        display: block;
        right: 20px;
    }

    .hero-sin-slider .hero-slider-shape {
        visibility: visible;
    }

    .btn-lg {
        padding: 18px 54px;
    }

    .section-top-gap-100 {
        margin-top: 100px;
    }

    .ship-single .content p {
        width: auto;
    }

    .product-tab {
        margin-bottom: 30px;
    }
    .section-content-gap-60 {
        margin-bottom: 55px;
    }
    .product-single-item-style-1 .content {
        padding: 20px 20px 20px;
    }
    .product-single-item-style-1 .content .bottom .product-event-items .btn {
        margin-right: 20px;
    }
    .btn-section-bottom {
        margin-top: 60px;
    }
    .btn-md {
        padding: 15px 35px;
    }
    .newsletter-area .content {
        max-width: 50%;
        margin-bottom: 0;
    }
    .newsletter-area .content .apps-btn {
        text-align: right;
    }
    .newsletter-area {
        padding: 50px 50px;
        flex-direction: row;
    }
    .newsletter-area .content-right {
        text-align: right;
    }
    .section-top-gap-120 {
        margin-top: 120px;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        min-width: 1200px;
    }

    .section-fluid-270 {
        padding-left: 50px;
        padding-right: 50px;
    }

    .header-event .search-event .header-search {
        padding: 0 45px;
    }

    .header-action-item {
        margin-right: 100px;
    }

    .header-action-item::after {
        left: calc(100% + 48.5px);
    }

    .mainmenu-nav {
        width: 270px;
    }

    .mainmenu-nav .has-dropdown.megamenu {
        width: 600px;
    }

    .mainmenu-nav .has-dropdown.megamenu .menu-content {
        padding: 20px 30px;
    }

    .mainmenu-nav .menu-items>a {
        padding: 0 35px;
    }

    .hero-sin-slider .content-box .title {
        font-size: 60px;
    }

    .hero-sin-slider .image {
        right: 70px;
    }

    .hero-sin-slider .image-shape {
        right: 70px;
    }

    .btn-lg {
        padding: 18px 74px;
    }
    .product-tab .nav-item {
        margin-right: 40px;
    }
    .product-tab .nav-link {
        padding: 13px 30px;
        font-size: 16px;
    }
    .product-tab .nav-link img {
        margin-left: 34px;
    }
    .section-content .section-title {
        font-size: 40px;
    }
    .product-single-item-style-1 .content {
        padding: 10px 20px 20px;
    }
    .product-single-item-style-1 .content .bottom .product-event-items .btn {
        margin-right: 10px;
    }
    .center-slider-nav .button-prev {
        left: 0;
    }
    .center-slider-nav .button-next {
        right: 0;
    }
    .center-slider-nav:hover .slider-button.button-prev {
        left: -40px;
    }
    .center-slider-nav:hover .slider-button.button-next {
        right: -40px;
    }
    .btn-md {
        padding: 15px 50px;
    }
    .newsletter-area .content .image-shape {
        visibility: visible;
    }
    .newsletter-area {
        padding: 40px 40px;
    }
    .newsletter-area .content {
        max-width: 420px;
    }
}

@media (min-width: 1400px) {
    .section-fluid-270 {
        padding-left: 80px;
        padding-right: 80px;
    }

    .mobile-contact-info .social-link a {
        width: 55px;
        height: 55px;
        line-height: 55px;
        margin-right: 25px;
    }

    .hero-sin-slider .content-box .title {
        font-size: 70px;
    }

    .hero-sin-slider .image {
        right: 120px;
    }

    .hero-sin-slider .image-shape {
        right: 120px;
    }


    .company-slider-bg {
        padding: 50px 0;
    }
    .product-single-item-style-1 .content {
        padding: 20px 38px 35px;
    }
    .product-single-item-style-1 .content .bottom .product-event-items .btn {
        margin-right: 20px;
    }
    .newsletter-area {
        padding: 60px 60px;
    }
    .newsletter-area::after {
        visibility: visible;
    }
}

@media (min-width: 1800px) {
    .section-fluid-270 {
        padding-left: 270px;
        padding-right: 270px;
    }

    .hero-sin-slider .content-box p {
        width: 425px;
    }

    .hero-sin-slider .image {
        right: 184px;
    }

    .hero-sin-slider .image-shape {
        right: 187px;
    }

    .ship-single .content p {
        font-size: 18px;
    }
    .newsletter-area .content .image-shape-right {
        left: -35px;
    }
    .newsletter-area .content .image-shape-left {
        right: -35px;
    }
    .newsletter-area {
        padding: 70px 70px;
    }
    .footer-section-style-1 {
        border-radius: 75px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
}
